body {
	background-color:#1c1c1c;
	margin:0;
	font-size: 10px;
	font-family: Arial, Verdana, Helvetica, Arial, sans-serif; 
	font-size: 1.1em;
	color: #fff;
	
}

div {
	font-size: 0.9em;
}

#iframe-container {	
	position:absolute;
	
	width: 100%;
	height: 100%;
}

#my-iframe {
	width: 100%;
	height: 100%;
	border: 0px;
}

#bottom-panel {
	border-top: solid 1px #3c3c3c;
	background: -webkit-gradient(linear, left top, left bottom, from(#2c2c2c), to(#0c0c0c));
	/*background-color:#1c1c1c;*/
	position:absolute; /* positions #footer at bottom of #wrapper */
	bottom:0;
	left:0;
	right: 16px;
	height:28px;
	width:100%;
	padding: 4px;
	padding-left: 44px;
	padding-right: 44px;
	margin-top: auto;
	margin-bottom: auto;
	font-size: 0.6em;
	/*text-shadow: 1px 1px 1px rgba(255,255,255, .4); */
}

#download-summary {
	border-left: solid 1px #2c2c2c;
	position:absolute; 
	right: 15px;
	bottom: 0px;
	z-index: 30;
	background: -webkit-gradient(linear, left top, left bottom, from(#2c2c2c), to(#0c0c0c));
	min-height: 28px;
	width: 240px;
	padding: 4px;
	font-size: 0.6em;
}

#preferences-box {
	border-right: solid 1px #2c2c2c;
	position:absolute; 
	left: 4px;
	bottom: 2px;
	z-index: 40;
	background: -webkit-gradient(linear, left top, left bottom, from(#2c2c2c), to(#0c0c0c));
	min-height: 32px;
	height: 32px;
	width: 32px;
	font-size: 0.6em;
}

#download-list {
	position:absolute; 
	right: 16px;
	bottom: 32px;
	z-index: 20;
	background: -webkit-gradient(linear, left top, left bottom, from(#4d4d4d), to(#2c2c2c));
	min-height: 28px;
	width: 236px;
	padding: 4px;
	margin-bottom: 4px;
	display: none;
}

#download-list-header {
	font-size: 0.6em;
}

.download-widget {
	position:relative; 
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 0px;
	padding-right: 0px;
	width: 232px;
	height: 2em;
	clear: left;
}

.download-widget .ui-progressbar { 
	position:relative; 
	font-size: 0.6em;
}

.download-widget .download-title {
	font-size: 0.5em;
	font-weight: bold;
	color: white;
	text-overflow: ellipsis-word;
	z-index: 99;	
	position: absolute; 
	width: 100%; 
	text-align: center; 
	line-height: 100%; 
	padding: 4px;
}

.download-completed-button {
	font-size: 0.5em;
	float: left;
}

.download-progressbar {
	width: 190px;
	float: left;
}

#preferences-pane {
	display: none;
	position:absolute; 
	left: 0px;
	bottom: 36px;
	z-index: 50;
	background: -webkit-gradient(linear, left top, left bottom, from(#4d4d4d), to(#2c2c2c));
	padding: 4px;
}

#preferences-pane  form{
	padding: 12px;
}